*{
    box-sizing: border-box;
}

#wrapper{
    width: 80%;
    margin: 0 auto;
}

header{
    
}

h1{
    background-color: #4aaaa5;
    width: 230px;
    padding-left: 10px;

}


content{

}

#line{
    position: relative;
    width: 150px;
    height: 100px;
    background: red;
}