*{box-sizing:border-box;}


html, body {
    height: 100%;
  }

body{
    background-image: url("../images/gravel.png");
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}



/* top right links */
#headlink{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    word-spacing: 7px; 
    
}

#port{
    border-left-style: solid;
    border-right-style: solid;
    border-color:#cccccc;
    padding-left: 7px;
    padding-right: 7px;
    border-width: 2px;
}

/* unvisited link */
a:link {
    color: #777777;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #2c2c2c;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #464646;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: #2c2c2c;
    text-decoration: underline;

  }


/* Header */

#headwrap{
    width:960px;
    display: flex;
    margin:0 auto; 
    justify-content: space-between;
    align-items: center;
    
}
header{
    position:fixed;
    width: 100%;
    left: 0 auto;
    background-color: #ffffff;
    border-color:#cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin:0; 
    z-index: 1
     
}
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    width: 300px;
    color: white;
    padding: 15px;
    text-align:center;
    margin: 0;
}

h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding-top: 15px;
    border-bottom-style: solid;
    border-color:#cccccc;
    border-width: 3px;
    padding-bottom: 15px;
}

/* Main body */
p{font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;}
#content{
    
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border-color: #dddddd;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
    color:#777777;
    margin-top: 90px;
    
    
}

#formatting{
    flex: 1 0 auto;
}

#frame{
    margin: 30px ;
    
}

/* picture */
#bio{
    float: left;
    margin-right: 10px;

}

/* Text formatting */
p{
    line-height: 1.7;
    margin-top: -6px;
}

#form{
    width: 100%;
    color:#777777;
    
}

#message{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 200px;
    
}

#submit{
    background-color: #4aaaa5;
    color: white;
    padding: 10px 25px;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    border: none;
}



footer{
    border-top: 8px solid #4aaaa5;
    /* bottom:0; */
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 15px;

}

.footer {
    flex-shrink: 0;
  }

 
  .img-holder {position: relative; display: inline-block; margin: 5px 10px 30px 10px}
  .img-holder img {display: block;}
  .img-holder p {position: absolute; top: 85%; left: 0; right: 0; transform: translate(0, -50%); text-align: center;background-color: #4aaaa5; color: white; padding: 10px;}

  #portframe{
      width: 600px;
  }